<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Commandé par</th>
      <th scope="col">Service</th>
      <th scope="col">Pour qui ?</th>
      <th scope="col">Détails</th>
      <th scope="col">Date de début</th>
      <th scope="col">Date de fin</th>
      <th scope="col">Paiement</th>
      <th scope="col">Statut</th>
    </tr>
  </thead>
  <tbody>
    <% @find_orders.each do |order| %>
    <tr>
      <td><%= order.id %></td>
      <td><%= order.user.first_name %></td>
      <td><%= order.service.name %></td>
      <td><%= order.target %></td>
      <td><%= order.description %></td>
      <td><%= order.availability.start_date.strftime('%d/%m/%y - %H:%M') %></td>
      <td><%= order.availability.end_date.strftime('%d/%m/%y - %H:%M') %></td>
      <td id="status-id">
        <% if order.status == "pendingValidate" %>
        En attente de paiement
        <% elsif order.status == "unpaid" %>
        Non payée
        <% elsif order.status == "confirmed" %>
        Confirmée
        <% elsif order.status == "rejected" %>
        Refusée
        <% else %>
        Erreur - contacter l'administrateur
        <% end %>
      </td>
      <td> <% if order.status == "pendingValidate" %>
        <%= link_to "Valider", availability_order_validate_path(order.availability_id, order.id, order.availability.artist_id), id: "status-v-btn", class: "btn btn-success btn-block", method: :put, data: { turbolinks: false }, remote: true %>
        <%= link_to "Refuser", availability_order_refused_path(order.availability_id, order.id, order.availability.artist_id), id: "status-r-btn", class: "btn btn-danger btn-block", method: :put, data: { turbolinks: false }, remote: true %>
        <% elsif order.status == "confirmed" %>
        Déjà ACCEPTEE
        <% elsif order.status == "rejected" %>
        Déjà REFUSEE
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
