<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Artiste</th>
      <th scope="col">Service</th>
      <th scope="col">Pour qui ?</th>
      <th scope="col">Détails</th>
      <th scope="col">Date de début</th>
      <th scope="col">Date de fin</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
    <tr>
      <td><%= order.id %></td>
      <td><%= order.availability.artist.name %></td>
      <td><%= order.service.name %></td>
      <td><%= order.target %></td>
      <td><%= order.description %></td>
      <td><%= order.availability.start_date.strftime('%d/%m/%y - %H:%M') %></td>
      <td><%= order.availability.end_date.strftime('%d/%m/%y - %H:%M') %></td>
      <% if order.status == "pendingValidate" %>
        <td> (Payée) - En attente de confirmation de l'artiste</td>
      <% elsif order.status == "confirmed" %>
        <td> Payée et confirmée </td>
      <% else %>
        <td> <%= link_to "Payer ma commande",new_availability_order_charge_path(order.availability.id, order.id) %> </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><%= will_paginate @orders %></li>
  </ul>
</nav>
