<div class="jumboton">
  <div class="row">
    <div class="col-md-8 offset-md-2">
			<h1 class="p-5">Quelques informations supplémentaires pour votre commande</h1>
		</div>
	</div>
</div>

<div class="container">

  <div class="row">
    <div class="col-md-8 offset-md-2">
      

      <%= simple_form_for ([@availability, @order]), class: "pinkform" do |f| %>
      <div class="form-inputs ">
        <%= f.label :target, "Numéro de téléphone *"%><br />
        <%= f.text_field :target, autofocus: true,  required:true , placeholder: "Numéro de contact", class: "form-control pinkform my-2" %>
        <%= f.label :description, "Notes pour l'artiste *" %><br />
        <%= f.text_area :description, autofocus: true, required:true, label: false, as: :text, input_html: { :rows => 7 , :style => 'width: 100%'}, placeholder: "Laissez un petit mot pour l'artiste : quelle chanson vous souhaitez, si c'est pour vous ou pour offrir...", class: "form-control pinkform my-2" %>
        <div class="text-center">
        	<%= f.button :submit, "Accéder au paiement", class: "btn btn-lg btn-pinkwhite my-2" %>
        </div>
      </div>
      <% end %>

    </div>
  </div>
</div>