<section id="banner" class="text-center">
  <div id="banner-container">
    <h1 class="custom-font display-3 mb-5"> Le Téléphone Ose </h1>
    <p class="lead text-white font-italic sloganHome">" Le bonheur, c'est simple comme un coup de fil "</p>
    <p class="lead text-white sloganHome">Après le Téléphone Rose, le Téléphone pleure, celui de Gaston ou le groupe, voici : <span class="font-weight-bold">le Téléphone Ose !</span></p>
    <div>
      <%= link_to "Comment ca marche ?", faq_path, class: "btn btn-pinkwhite mt-5" %>
    </div>
  </div>
</section>


<div class="container marketing">
	<div class="row d-flex justify-content-center">
		<div class="col-8">
      <h2>Votre chanson préférée chantée au téléphone</h2>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
  	<div class="col-8">
  		<p>Laissez-vous tenter par une pause musicale grâce à un artiste au téléphone : simple comme un coup de fil, il ou elle vous chantera une chanson de votre choix ou un titre surprise !</p>
  	</div>
  </div>
  <div class="row d-flex justify-content-center">
    <%= link_to "Découvrir les artistes", artists_path, class: "btn btn-pinkwhite my-2  p-3 m-2 font-weight-bold" %> 
    <%= link_to "Découvrir les services", services_path, class: "btn btn-pinkwhite my-2 p-3 m-2 font-weight-bold" %>
  </div>
</div>


<div class="container marketing">
	
</div>

<div class="container marketing">
  <div class="row d-flex justify-content-center">
    <div class="col-lg-3 d-flex justify-content-center flex-row flex-wrap card-cutsom">
      <div class="head">
        <%= image_tag("https://res.cloudinary.com/borismd/image/upload/v1607101150/Assets/pin-up-girl-5019512_960_720_bj0401.png", class: "pic") %>
      </div>
      <div class="w-100 d-flex justify-content-center text-center">
        <h3 class="custom-font">Un service unique</h3>
      </div>
      <p>Jamais aucune plateforme n'a proposé un tête-à-tête aussi intime entre un artiste et son public.</p>
    </div>
    <div class="col-lg-3 d-flex justify-content-center flex-row flex-wrap card-cutsom">
      <div class="head">
        <%= image_tag("https://res.cloudinary.com/borismd/image/upload/v1607101152/Assets/pin-up-girls-4997599_960_720_qxwsnl.webp", class: "pic") %>
      </div>
      <div class="w-100 d-flex justify-content-center text-center">
        <h3 class="custom-font">Un moment magique</h3>
      </div>
      <p>Votre chanson préférée susurée à l'oreille vous provoquera des frissons uniques.</p>
    </div>
    <div class="col-lg-3 d-flex justify-content-center flex-row flex-wrap card-cutsom">
      <div class="head">
        <%= image_tag("https://res.cloudinary.com/borismd/image/upload/v1607101151/Assets/pin-up-girls-4997597_960_720_tat5vz.webp", class: "pic") %>
      </div>
      <div class="w-100 d-flex justify-content-center text-center">
        <h3 class="custom-font">Un cadeau inédit</h3>
      </div>
      <p> Offrez votre titre préféré à un de vos proches, pour un effet garanti !</p>
    </div>
  </div>
</div>
