<%= simple_form_for [@availability] do |f| %>
<div class="form-input">
  <%= f.label :start_date, "Date de début" %><br />
  <%= f.text_field :start_date, data: {behavior: "flatpickr" }, label: "Heure de début"%> <br />
  <%= f.label :end_date, "Date de fin" %><br />
  <%= f.text_field :end_date, data: {behavior: "flatpickr" } %>
</div>
<div class="form-action">
  <%= f.submit "Creer une disponibilité", class:"btn btn-pinkwhite"%> <br />
</div>
<% end %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Heure de début</th>
      <th scope="col">Heure de fin</th>
      <th scope="col">Supprimer ?</th>
    </tr>
  </thead>
  <tbody>
    <% @artist.availabilities.each do |availability| %>
    <tr>
      <td><%= availability.id %></td>
      <td><%= availability.start_date.strftime('%d/%m/%y - %H:%M') %></td>
      <td><%= availability.end_date.strftime('%d/%m/%y - %H:%M') %></td>
      <td><%= link_to "Effacer cette disponibilité", availability_path(current_user.id,availability.id),
      method: :delete,
      data: { confirm: t('.confirm', default: 'Etes-vous sûr ?') },
      class: 'delete' %> </td>
    </tr>
  </tbody>
<% end %>
</table>
