<!DOCTYPE html>
<html>
<head>
  <title>Letelephoneose</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <script src="https://kit.fontawesome.com/e7e4303548.js" crossorigin="anonymous"></script>

</head>

<body id="<%= controller.controller_name %>-<%= controller.action_name %>" >
  <%= render 'shared/navbar' %>
  <%= render 'shared/flashes' %>
  <div class="content-wrapper">
    <%= yield %>
  </div>
  <%= render 'shared/footer' %>
</body>
</html>
